runmode = prod
sessionon = true
url = https://nihongdengxia.com
view = nihongdengxia
httpport = 9090

EnableAdmin = false
AdminAddr = "localhost"
AdminPort = 8888

[db]
dbType = mysql
dbUser = root
dbPass = 123456
dbHost = 127.0.0.1
dbPort = 3306
dbName = blogtest